.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
ProteoVista.Rproj

#ignore test_data and test_output folders and all files in subdirectories
test_data/
test_output/
ProteoVista_output/
images/ProteoVista_Tutorial.mp4
PROT-975_Smed_EV_MV_OnePot_ProteoVista_for_publication_20241028140925/
PROT-1104 Sp spores vs vegetative pilot_20250313132839/
